<form class="check">
    <section>
        <h3 align="center">OL and Base Successes</h3>
            <div class="grid grid-3col flex-group-center">
                 <p>Base Success = {{basesuccesses}}</p>                                        
                 <h3 align="center">Dice to Roll</h3>
                 <div class="grid grid-3col flex-group-center">
                     <div>
                         <label for="stddice">Standard Dice</label>
                         <input name="stddice" type="number" value="{{standarddice}}"></input>
                     </div>
                     <div>
                         <label for="advdice">Advantage Dice</label>
                         <input name="advdice" type="number" value="{{advdice}}"></input>
                     </div>
                     <div>
                         <label for="disdice">Disadvantage Dice</label>
                         <input name="disdice" type="number" value="{{disdice}}"></input>
                     </div>
                 </div>
            </div>
      </section>
 </form>